<HTML>
<BODY bgcolor="cyan">

<form method="GET" action="" name="selectLetters">
    <p>
        Select first Letter: <select onchange="document.forms[0].submit()" name="firstLetterSelected">
        <option value="0">-</option>
        {% for row in first_letters %}
        <option value="{{ row[0] }}" {% if row[0]== request.args[
        'firstLetterSelected'] %} selected {% endif %}>{{ row[0] }}</option>
        {% endfor %}
    </select>
    </p>
    <p>
        Select second Letter: <select onchange="document.forms[0].submit()" name="secondLetterSelected">
        <option value="0">-</option>
        {% for row in second_letters %}
        <option value="{{ row[0] }}" {% if row[0]== request.args[
        'secondLetterSelected'] %} selected {% endif %}>{{ row[0] }}</option>
        {% endfor %}
    </select>
    </p>
    <p>
        Select word: <select onchange="document.forms[0].submit()" name="wordSelected">
        <option value="">-</option>
        {% for row in words %}
        <option value="{{ row[0] }}" {% if row[0]== request.args[
        'wordSelected'] %} selected {% endif %}>{{ row[0] }}</option>
        {% endfor %}
    </select>
    </p>
</form>
Selected Word: {{ request.args['wordSelected'] }}

</BODY>
</HTML>
